@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Sedan:ital@0;1&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
*{
    font-family: "Montserrat", sans-serif;
}
.UserAdd{
    background-color: #F8F8F8;
    padding: 0px 20px;
    margin-top: -5px;
    height: 140vh;
}
.UserAdd_i{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5E5;
    padding: 10px 0;
}
.UserAdd_l{
    display: flex;
    align-items: center;
    gap: 20px;
 }

 .UserAdd_u a p {
    max-width: 244px;
    width: 100%;
    height: 41px;
    border-radius: 4px;
    background: #FEAF00;
    font-family: Montserrat;
font-size: 18px;
font-weight: 700;
line-height: 26.82px;
padding:  0 15px;
display: flex;
align-items: center;
justify-content: center;
color: black;

 }
 .UserAdd_u a{
    text-decoration: none;
 }
 .UserAdd_u a p{
  color: white;
 }
 .UserAdd_u a p:active{
  background-color: rgb(255, 255, 0);
  transform: scale(1.02);
 }

.UserAdd_u_l >a p{
width: 232px;
height: 41px;
top: 73px;
left: 460px;
gap: 0px;
border-radius: 4px;
background: #C4C4C4;
font-family: Montserrat;
font-size: 18px;
font-weight: 700;
line-height: 26.82px;
text-align: center;
color: white;
display: flex;
align-items: center;
justify-content: center;
}
.UserAdd_u_l a{
   text-decoration: none;
 }
 .UserAdd_u_l a p:active{
  background-color: rgb(0, 166, 255);
  transform: scale(1.02);
 }
 .btn-2{
    display: flex;
    align-items: center;
    gap: 20px;
 }
 .btn-2 >img{
    width: 33px;
    height: 30px;    
 }
 .btn-1{
width: 199px;
    height: 44px;
    /* width: 100%; */
    border-radius: 4px;
    font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 17.07px;
text-align: center;
border: none;
color: #FFFFFF;
background: #FEAF00;


    
 }


 table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  th{
    border: 1px solid  #F8F8F8;
    /* text-align: center; */
    padding: 15px 8px;
    font-family: Montserrat;
font-size: 12px;
font-weight: 600;
line-height: 14.63px;
color: #757575;
  }
  tr th{
   padding:  15px 20px;
   text-align: left;
  }
  .tr_th >img{
    width: 30px;
    height: 30px;
  }
  .th{
    margin-left: 20%;
  }
  
  td {
    border: 1px solid white;
    text-align: left;
    padding: 20px;
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;
color: #000000;
  }
  .tr{
    display: flex;
    align-items: center;
     gap: 20px;
  }

  
  tr:nth-child(even) {
    background-color:white;
  }

  .delet{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .delet button{
    border: none;
    background-color:  #F8F8F8 !important;
  }

 .modal{
  display: none;
  max-width: 400px;
  width: 100%;
  padding: 20px 0;
  box-shadow: 2px 2px 8px 2px gray;
  border-radius: 8px;
  overflow: hidden;
  height:  350px;
  overflow-y: auto;
 } 
 

 .all{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(1px);
  display: none;

}
.all.show{
  display: block;
}

 .modal.show{
  display: block;
  position: fixed ;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20000;
  background-color: white;
 }
 .modal_row >form{
  max-width: 400px;
  width: 100%;
  padding: 20px 0;

 }
 .modal_row form input{
  max-width: 300px;
  width: 100%;
  margin-left: -21%;
  height: 30px;
  outline: none;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 0 5px;

 }
 .modal_row form label{
  margin-left: -21%;
  font-size: 13px;
  color: #222222;
 }
.modal_row form select{
  margin-left: -21%;
  max-width: 300px;
  width: 100%;
  height: 30px;
  outline: none;
  border-radius: 4px;
}
.modal_row form button{
  margin-left: -21%;
  max-width: 300px;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  background-color: orange;
  font-size: 20px;
  color:white;
  cursor: pointer;
  margin-bottom:10px ;
}
.modal_row form button:hover{
  background-color: #80ff5a;
}
.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 20px 0;
  
}  
.btn1 button {
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid gray;
  color: black;
  background-color: orange;
}
.btn1 button:disabled{
  background-color: gray;
}
.number{
  display: flex;
  align-items: center;
  justify-content: center;

}


.overfly{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0006;
  z-index: 10;
}
.overly_form{
  width: 400px;
  background-color: wheat;
  height: 600px;
  position: fixed;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 11;
  padding: 30px;
}
.overly_form h2{
  text-align: center;
  font-family: Montserrat sans-serif;
  font-size: 40px;
}
.overly_form input{
  width: 100%;
  height: 40px;
  margin-top: 20px;
  outline: none;
  border-radius: 8px;
  border: 1px solid gray;
}


.overly_form button{
  width: 100%;
  height: 40px;
  margin-top: 20px;
  outline: none;
  border-radius: 8px;
  background-color: orange;
  font-size: 20px;
  color:white;
  cursor: pointer;
}


@media (min-width: 1200px) {
  .modal::-webkit-scrollbar {
      width: 6px;
  }
   .modal::-webkit-scrollbar-thumb {
        background: orange;
        border-radius: 8px;
      }
    }

